@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --background_layer: #121212;
    --foreground_layer: #242424;
    --foreground_layer2: #484848;
    --accent_layer: #f95959;
    --highlight_layer: #4e4e4e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: min(32ch, 100%);
    font-family: 'Roboto', sans-serif;
    background-color: var(--background_layer);
    margin-inline: auto;
    margin-top: 2rem;
    color: white;
}

.checkbox-container {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--foreground_layer);
    border-radius: 0.5rem;

    & input[type=checkbox] {
        margin-right: 0.25rem;
    }
}